<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" type="image/x-icon" href="../static/images/Red_Hat_logo.png" />
</head>
<body>

    <h1>Welcome to the Python workshop</h1>
    <p1>Explore different python areas by clicking below:</p1>

    <div class="container">
        <div class="card">
            <img src="../static/images/python_logo.png" alt="Python Setup Image">
            <h3>Python Setup</h3>
            <p>Getting setup with the python programming language</p>
            <a href="/python-setup">Go to Setup</a>
        </div>

        <div class="card">
            <img src="../static/images/concepts.png" alt="Python Setup Image">
            <h3>Python Syntax</h3>
            <p>Overview of python syntax</p>
            <a href="/python-syntax">Go to Syntax</a>
        </div>

        <div class="card">
            <img src="../static/images/advpy.jpg" alt="Advanced Topics Image">
            <h3>Advanced Topics</h3>
            <p>View more advanced concepts in Python</p>
            <a href="/advanced-topics">Go to advanced concepts</a>
        </div>

        <div class="card">
            <img src="../static/images/PythonAPI.jpg" alt="Python API Image">
            <h3>Python API</h3>
            <p>Learn about API using python</p>
            <a href="/python-api">Go to API section</a>
        </div>
    </div>
    <br/>
    </div>
</body>
</html>
